body {
    font-family: 'Young Serif', serif;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #87BFFF;
    margin: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.form1-container {
    width: 90%;
    margin: 50px auto 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-container {
    background-color: white;
    width: 80%; /* Set the width of the map container */
    height: 500px; /* Set the height of the map container */
    border: 1px solid #ccc; /* Add a border around the map container */
    border-radius: 10px; /* Optional: Add border-radius for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for a subtle effect */
}

/* Optionally, you can style the map itself within the container */
.map {
    width: 100%; /* Set the width of the map */
    height: 100%; /* Set the height of the map */
    border-radius: 10px; /* Optional: Add border-radius for rounded corners */
}

form {
    display: flex;
    align-items: center;
}

#location {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    width: 200px;
}

.search, button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search:hover {
    background-color: #45a049;
}

.container {
    padding: 30px;
    background-color: #3F8EFC;
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dropdown-section, .input-section {
    margin-bottom: 10px;
}

select, input {
    width: 80%;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    text-align: center;
}

.location-container {
    background-color: white;
    display: flex;
    margin: 20px;
    flex-direction: row;
    height: 300px;
}

.location-details {
    flex: 1;
    margin: 20px;
    width: 80%; /* Set it to at least 70% */
}

.location-details h1 {
    font-size: 20px;
}

.location-box {
    transform: scale(0.3); /* Make the checkbox half the size */
    flex: 1; /* Adjust the flex value to control the space taken by the checkbox */
}

.results-container {
    width: 60%;
    display: block;
    overflow-y: scroll;
    max-height: 100vh;
    flex: 2;
}



.results-page {
    display: flex;
    flex-direction: row;
}

.map2-container {
    margin-top: 30px;
    margin-right: 20px;
    width: 40%;
    height: 40%;
    background-color: white;
    height: 400px; /* Set the height of the map container */
    border: 1px solid #ccc; /* Add a border around the map container */
    border-radius: 10px; /* Optional: Add border-radius for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for a subtle effect */
}