<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GuideGuru</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class ="results-page">
            <div class="results-container">
                {% for i in range(0, len) %}
                    <div class="location-container">
                        <div class="location-details">
                            <h1>{{ locationList[i].name }}</h1>
                            <p>{{ locationList[i].formatted_address }}</p>
                            <p>{{ locationList[i].price }}</p>
                            <p>{{ locationList[i].type }}</p>
                        </div>
                        <input type="checkbox" class="location-box">
                    </div>
                {% endfor %}
            </div>
            <div class="map2-container">
                <div class="map" id="map"></div>
            </div>
        </div>
        
    </body>
</html>
