<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GuideGuru</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">

    <script>
        var map;
        var markers = [];
        function addMarkers() {
            {{markers | safe}}

        }

        function toggleMarker(index) {
            if (markers[index].getMap() === null) {
                markers[index].setMap(map);
            } else {
                markers[index].setMap(null);
            }
        }



        function initMap() {
            var longitude = parseFloat(sessionStorage.getItem("longitude"));
            var latitude = parseFloat(sessionStorage.getItem("latitude"));
            console.log(latitude, longitude);
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: latitude, lng: longitude },
                zoom: 12,
                streetViewControl: false,
                mapTypeControl: false
            });
            addMarkers();
        }

        function sendChecked() {
            var checkedIndices = [];

            // Get indices of checked checkboxes
            document.querySelectorAll('.location-box:checked').forEach(function (checkbox) {
                console.log(checkbox.value);
                checkedIndices.push(parseInt(checkbox.value));
            });
            var indexesString = checkedIndices.join(',');
            window.location.href = `/results?indexes=${indexesString}`
        }

    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap"></script>

</head>

<body>
    <h1>Pick your Destinations</h1>
    <div class="results-page">
        <div class="results-container">
            {% for i in range(0, len) %}
            <div class="location-container">
                <div class="location-details">
                    <h1>{{ locationList[i].name }}</h1>
                    <p>{{ locationList[i].formatted_address }}</p>
                    <p>{{ locationList[i].price }}</p>
                </div>
                <input type="checkbox" class="location-box" onchange="toggleMarker({{ i }})" value="{{i}}">
            </div>
            {% endfor %}
        </div>
        <div class="map2-container">
            <div class="map" id="map"></div>
            <button onclick="sendChecked()">Send Checked</button>
            <div class="image-container">

            </div>
        </div>
    </div>
   <script>
        locationList = {{ locationListJson | safe }};
        console.log(locationList);

        var checkboxes = document.querySelectorAll('.location-box');
        var imageContainer = document.querySelector('.image-container');

        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                var index = this.getAttribute('value');
                if (this.checked) {
                    var imageUrl = locationList[index].photo_url; // Retrieve the image URL from the locationList
                    var imageName = locationList[index].name;
                    console.log("Image URL:", imageUrl);

                    // Create an image element
                    var image = document.createElement('img');
                    image.className = "image" + index;
                    image.src = imageUrl;
                    image.alt = imageName;

                    // Append the image to the image container
                    imageContainer.appendChild(image);
                } else {
                    // Remove the image if the checkbox is unchecked
                    var existingImage = document.querySelector(".image" + index);
                    if (existingImage) {
                        existingImage.remove();
                    }
                    console.log("Checkbox unchecked");
                }
            });
        });
    </script>
</body>

</html>